/** @format */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Work Sans', sans-serif;
  .homeTitle {
    text-align: center;
    font-size: 40px;
    .ciao {
      font-weight: bold;
    }
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
